In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("retail_store_sales.csv")

In [3]:
df.head()

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  str
 1   Customer ID       12575 non-null  str
 2   Category          12575 non-null  str
 3   Item              11362 non-null  str
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  str
 8   Location          12575 non-null  str
 9   Transaction Date  12575 non-null  str
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(1), str(7)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [6]:
median_of_ppu = df["Price Per Unit"].median()
median_of_quantity = df["Quantity"].median()
median_of_total = df["Total Spent"].median()

print(f" Median of Price Per Unit: {median_of_ppu} \n Median of Quantity: {median_of_quantity} \n Median of Total Spent: {median_of_total}")

df = df.fillna(
    {
    "Price Per Unit": median_of_ppu,
    "Quantity": median_of_quantity,
    "Total Spent": median_of_total,
    "Discount Applied": "Unknown"
    }
)

 Median of Price Per Unit: 23.0
 Median of Quantity: 6.0
 Median of Total Spent: 108.5

In [7]:
df.sample(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
2849,TXN_7249444,CUST_14,Computers and electric accessories,Item_18_CEA,30.5,10.0,305.0,Digital Wallet,In-store,2023-10-28,False
992,TXN_9941031,CUST_05,Patisserie,Item_5_PAT,11.0,5.0,55.0,Credit Card,In-store,2023-04-14,False
3730,TXN_3647376,CUST_11,Computers and electric accessories,Item_20_CEA,33.5,2.0,67.0,Cash,In-store,2022-04-11,True
3546,TXN_5171621,CUST_12,Computers and electric accessories,Item_3_CEA,8.0,2.0,16.0,Digital Wallet,Online,2023-05-26,True
10048,TXN_5237132,CUST_08,Furniture,NaN,41.0,6.0,108.5,Digital Wallet,In-store,2022-11-28,Unknown
9933,TXN_3435040,CUST_12,Patisserie,Item_1_PAT,5.0,6.0,30.0,Digital Wallet,In-store,2024-04-26,False
4332,TXN_5088182,CUST_18,Beverages,Item_18_BEV,30.5,10.0,305.0,Cash,Online,2024-11-26,Unknown
9067,TXN_1175373,CUST_13,Milk Products,Item_24_MILK,39.5,3.0,118.5,Credit Card,In-store,2024-04-09,True
1999,TXN_1127104,CUST_14,Electric household essentials,Item_21_EHE,35.0,9.0,315.0,Cash,Online,2023-09-23,Unknown
8210,TXN_9664075,CUST_20,Milk Products,Item_1_MILK,5.0,5.0,25.0,Cash,Online,2023-10-29,False

In [8]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit         0
Quantity               0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Discount Applied       0
dtype: int64

In [9]:
df = df.dropna(subset=["Item"])
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64

Every empty field is now cleaned

In [10]:
df.duplicated(subset=["Customer ID", "Transaction ID"], keep=False)
df[df.duplicated(subset=["Customer ID", "Transaction ID"], keep=False)]

Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

No Duplicates Detected

Changing dataTypes

In [11]:
df.columns

Index(['Transaction ID', 'Customer ID', 'Category', 'Item', 'Price Per Unit',
       'Quantity', 'Total Spent', 'Payment Method', 'Location',
       'Transaction Date', 'Discount Applied'],
      dtype='str')

In [12]:
df = df.rename(
        columns={
            "Price Per Unit": "price_per_unit",
            "Total Spent": "total_spent",
            "Discount Applied": "discount_applied",
            "Transaction ID": "transaction_id",
            "Customer ID": "customer_id",
            "Item": "item",
            "Quantity": "quantity",
            "Transaction Date": "date",
            "Discount Applied": "discount_applied",
            "Location": "location",
            "Payment Method": "payment_method",
            "Category": "category"
        }
)

In [13]:
cols = ["price_per_unit", "quantity", "total_spent"]
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")
df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [ ]:
df.sample(10)

,transaction_id,customer_id,category,item,price_per_unit,quantity,total_spent,payment_method,location,date,discount_applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,Unknown
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False